@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap");
@import "reset.css";
@import "status-bar.css";
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Coming Soon",
    cursive;
}

.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 40px;
  font-size: 25px;
}

.welcome-header__text {
  width: 50%;
  opacity: 0.7;
}
