#chat-screen {
  background-color: #abc1d1;
  height: 300vh;
}

#chat-screen .alt-header {
  position: sticky;
  top: 26px;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
  z-index: 99;
}

#chat-screen .status-bar {
  background-color: #abc1d1;
  z-index: 2;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: none;
  }
  1% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.main-chat {
  padding-top: 50px;
  margin-top: 37px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1s linear;
}

.main-screen__scroll-required {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 12px 20px;
  border-radius: 22px;
  font-size: 14px;
  margin-top: 150vh;
  line-height: 25px;
  text-align: center;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 12px;
  border-radius: 22px;
  font-size: 14px;
  margin-bottom: 30px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

@keyframes imgAppear {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 15px;

  opacity: 0;
  animation: imgAppear 1s ease-in-out forwards;
}

.messgae-row--first img {
  animation-delay: 0;
}

.message-row--second img {
  animation-delay: 0.6s;
}

.message__author {
  display: block;
  opacity: 0.8;
  font-size: 14px;
  margin-bottom: 12px;
}

.message__bubble {
  background-color: white;
  padding: 9px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__time {
  opacity: 0.8;
  font-size: 11px;
}

@keyframes messageAppear {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.messgae-row--first .message-row__content {
  opacity: 0;
  animation: messageAppear 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
}

.message-row--second .message-row__content {
  opacity: 0;
  animation: messageAppear 0.5s ease-in-out forwards;
  animation-delay: 1.1s;
}

@keyframes messageAppearOwn {
  from {
    opacity: 0;
    transform: translateX(15px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.message-row.message-row--own .message-row__content {
  opacity: 0;
  animation: messageAppearOwn 0.5s ease-in-out forwards;
  animation-delay: 0.8s;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 10px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

#message__course-img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 0px;
  margin-right: 0px;
  margin-top: 9px;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 5px 25px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply i {
  opacity: 0.5;
}

.reply input {
  padding: 16px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 3px;
  top: 2px;
}

.reply__column:last-child > i {
  right: 60px;
  top: 26px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .fa-face-smile,
.reply button,
.reply .reply__column:first-child {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .fa-face-smile,
.reply:focus-within button,
.reply:focus-within .reply__column:first-child {
  opacity: 0;
}

.reply:focus-within input {
  width: 96vw;
  transform: translateX(-20px) translateX(-8vw) translateY(-60px);
}

.reply:focus-within {
  transform: translateY(60px);
  background-color: #abc1d1;
}
