.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  position: sticky;
  top: 42px;
  background-color: white;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__icons span:last-child {
  position: relative;
}

.screen-header__dots {
  position: absolute;
  top: -5px;
  left: 0px;
}

@keyframes hoverGear {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-gear:hover {
  animation: hoverGear 1.5s linear infinite;
}
